h1, h2, p {
    text-align: center;

    
}
body{
    /* background-color: burlywood; */

    /* test */
    
}

/* #menu {
    width: 100px ; 
} */

/* untuk style elemet biasanya lebih seringnya pakai .class-name tapi jangan lupa untuk di htmlnya ganti dari id ke class element */
.menu{
    width: 80%; 
    background-color: burlywood;
}

/* 
differences between id and class element!
• id: Bersifat unik. Dalam satu halaman HTML, nilai id tidak boleh sama atau dipakai lebih dari satu kali. Sintaksnya menggunakan tanda pagar (#) di CSS, contoh: #header.
• class: Bersifat tidak unik. Nama class yang sama bisa digunakan oleh banyak elemen berbeda di halaman yang sama. Satu elemen juga bisa memiliki lebih dari satu class sekaligus. Sintaksnya menggunakan tanda titik (.) di CSS, contoh: .tombol-biru. */
